<h5>Company`s structure</h5>
     <h6>Company     Earnings</h6>
      <script type="text/ng-template" id="companyTree">
       {{ company.name }} {{company.earnings}}
        <ul ng-if="company.childCompanies">
            <li style="list-style-type:none;"  ng-repeat="company in company.childCompanies" ng-include="'companyTree'">           
            </li>
        </ul>
    </script>
    <ul class="list-group">
        <li   class="list-group-item" ng-if="company.childCompanies" ng-repeat="company in fl.tasks" ng-include="'companyTree'"></li>
    </ul>    
