<h3 class="">Full list</h3>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td> Estimated Earnings </td>
            <td> Child Companies </td>
        </tr>
    </thead>
    <tbody>

    <tr class="full-list" ui-sref="edit({id: task._id})" ng-repeat="task in fl.tasks">
        <td>{{ task.name }}</td>
        <td>{{ fl.getEarnings(task.earnings)}}</td>
        <td>{{ fl.getChildren(task.childCompanies)}}</td>
    </tr>

    </tbody>
</table>  