<div  class="container-fluid">
   <div class="row">
    <div class="col-sm-9">
       
       <div class="row" ng-show="lst.msg">
           <div class="col-sm-12">
               <div class="bg-success msg"><span>{{lst.msg}}</span></div>
           </div>
        </div>
       
        <div class="row">
            <div class="col-xs-2 col-sm-10">
                <a ui-sref="add" type="button" class="btn btn-success pull-right">Add new company +</a>
            </div>
        </div>
       <div ui-view="columnOne"></div>
        
    </div>
    
  <div class="row">
       <div class=" col-xs-10 col-sm-8">
       <div class="stats" ui-view="columnTwo"></div> 
    </div>
  </div>  
   

    
</div>


</div>